body{
    background-color: aqua;
}

h1{
    color: red;
    background-color: lightgreen;
}

#show_sketch
{
    float:right;
}

h2{
    float:left;
}

h3{
    float:right;
}

#sketch_to_draw
{
    font-size: 30px;
    padding-right: 50px;
    color: red;
    
}